.New-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
  }
  .New-collection h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
  }
  
  .New-collection hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }
  .New-collection-items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px
  }

  
@media(max-width:1280px){
  
  .New-collection h1{
    font-size: 40px;
  }
  .New-collection hr{
    width: 160px;
    height: 4px;
  }
  .New-collection-items{
    gap:20px;
    margin-top: 30px;
  }
}
@media(max-width:1024px){
  
  .New-collection h1{
    font-size: 30px;
  }
  .New-collection hr{
    width: 120px;
    height: 3px;
  }
  .New-collection-items{
    gap:15px;
    margin-top: 20px;
  }
}
@media(max-width:800px){
  .New-collection{
    gap: 6px;
  }
  .New-collection h1{
    font-size: 20px;
  }
  .New-collection hr{
    width: 100px;
  }
  .New-collection-items{
    gap:5px
  }
}
@media(max-width:500px){
  
  .New-collection-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
  }
}
  