img{
    width: 200px;
    height: 200px;
}
.Offers{
    display: flex;
    flex-direction: row;
    /* width: 65px; */
    height: 60vh;
    display: flex;
    margin:0px auto;
    margin-top: 30px;
    padding: 0px auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.Offers-left{
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.Offers-left h1{
    color: #171717 ;
    font-size: 60px;
    font-weight: 600;
} 
.Offers-left p{
font-size: 22px;
font-weight: 600;
}
.Offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
font-weight: 500;
margin-top: 30px;
cursor: pointer;
}
.Offers-right{
 width: 50%;
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 0 50px;
}
 
@media(max-width:1280px){
    .Offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .Offers-left h1{
        font-size: 40px;
    }
    .Offers-left p{
        font-size: 18px;
    }
    .Offers-right img{
        width: 300px;
        height: 300px;
    }
    .Offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .Offers-right{
        padding-top: 30px;
    }
    
}    
@media(max-width:1024px){
    .Offers{
        padding: 0px 6px;
        margin-bottom: 80px;
        /* height: 40vh; */
    }
    .Offers-left h1{
        font-size: 30px;
    }
    .Offers-left p{
        font-size: 16px;
    }
    .Offers-right img{
        width: 200px;
        height: 200px;
    }
    .Offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .Offers-right{
        padding-top: 10px;
    }
    
}    
@media(max-width:800px){
    .Offers{
      
        margin-bottom: 80px;
     
    }
    .Offers-left h1{
        font-size: 22px;
    }
    .Offers-left p{
        font-size: 13px;
    }
    .Offers-right img{
        width: 180px;
        height: 200px;
    }
    .Offers-left button{
        width: 140px;
        height: 30px;
        font-size: 13px;
    }
 
}    
@media(max-width:500px){
    .Offers{
      
        margin-bottom: 50px;
     
    }
    .Offers-left h1{
        font-size: 16px;
    }
    .Offers-left p{
        font-size: 10px;
    }
    .Offers-right img{
        width: 120px;
        height: 120px;
    }
    .Offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
 
}    