.productDisplay{
    display: flex;
    margin: 0 170px;
    /* max-height: 500px; */
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-left{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list{
    /* height: 500px; */
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productdisplay-main-img{
    background: green;
}
.productdisplay-img-list img{
    height: 112px;
    width: 100px;

}
.productdisplay-main-img{
    width: 400px;
    height: 500px;
    /* margin-left: -30px; */
}
.productdisplay-right{
    /* margin: 0px 70px; */
    display: flex;
    flex-direction: column;
    /* background: red; */
    justify-content: space-between;
    max-height: 500px;
}
.productdisplay-under-right{
    /* margin: 0px 70px; */
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #ff4141;
    font-size: 16px;
}
.productdisplay-right-prices{
 display: flex;
 margin: 40px 0;
 gap: 30px;
 font-size: 24px;
 font-weight: 700;
}
.productdisplay-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-prices-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-size{
display: flex;
margin: 30px 0;
gap: 20px;
}
.productdisplay-right-size div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #ff4141;
    border: none;
    outline: none;
    /* margin-bottom: 40px; */
    cursor: pointer;
}

@media(max-width:1280px){
.productDisplay{
    margin: 0px 60px;
}
.productdisplay-left{
    gap: 10px;
}
.productdisplay-img-list{
    gap: 10px;
}
/* .productdisplay-img-list img{
    height: 120px;

} */
.productdisplay-main-img{
    width: auto;
    height: 510px;
}
.productdisplay-right{
    margin: 0px 30px;
}
.productdisplay-right h1{
    font-size: 22px;
}
.productdisplay-right-stars{
    gap:3px;
    font-size: 13px;
}
.productdisplay-right-prices{
    margin: 10px 0px;
    font-size: 18px;
}
.productdisplay-right-description{
    font-size: 13px;
}

}
@media(max-width:1024px){
    .productDisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdisplay-img-list{
        gap: 10px;
    }
    /* .productdisplay-img-list img{
        height: 80px;
    
    } */
    .productdisplay-main-img{
        width: auto;
        /* height: 350px; */
    } 
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-stars .stIcon{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
   
}
@media(max-width:800px){
    .productDisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdisplay-img-list{
        /* gap: 6px; */
        flex-direction: row;
    }
    .productdisplay-img-list img{
        height: 80px;
        width: 80px;
    
    }
    .productdisplay-main-img{
        width: auto;
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-stars .stIcon{
        width: 13px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right button{
        
    }
}
@media(max-width:500px){
    .productDisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdisplay-img-list{
        gap: 8px;
        flex-direction: column;
    }
    .productdisplay-main-img{
        width: 250px;
    }
    .productdisplay-right{
        width: 80%;
        margin: 0 auto;
 }
 .productdisplay-right .btn {
    margin: 10px auto;
 }
}